stages:
  - prepare-image
  - build
  # There are no tests yet, but maybe soon
  #- test

development-image:
  stage: prepare-image
  image: docker:19.03.12
  variables:
    # Otherwise the docker magic does not work: https://docs.gitlab.com/ee/ci/docker/using_docker_build.html
    DOCKER_TLS_CERTDIR: "/certs"
  services:
    - docker:19.03.12-dind
  script:
    - docker login -u $CI_DEPLOY_USER -p $CI_DEPLOY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY/psyco/gdart/development:21.2.0 - < scripts/graal-image.Dockerfile
    - docker push $CI_REGISTRY/psyco/gdart/development:21.2.0
  rules:
    - changes:
      - scripts/graal-image.Dockerfile
  tags:
    - dind

build:
  stage: build
  image: $CI_REGISTRY/psyco/gdart/development:21.2.0
  script:
    - cd espresso
    - mx build -all
    - mx --env native-ce build
